.examQBank {
  width: 100%;
  height: 100%;
}

.examQBank-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.examQBank-item {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  flex-direction: column;
  box-shadow: 0px 0px 10px #ccc;
}

.examQBank-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
