.examQPage {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #f5f5f5;
}

.examQPage-container {
  width: 100%;
  height: 100%;
  /* background-color: #f5f5f5; */
  display: flex;
  flex-direction: column;
}

.examQPage-progress {
  width: 100%;
  height: 5px;
  background-color: #ccc;

  /* position: relative; */
}

.examQPage-container h3 {
  transition: all 0.3s ease-in-out;
}

.examQPage-progress-bar {
  width: 50%;
  height: 5px;
  background-color: #007bff;
  transition: width 0.5s ease-in-out;
}

.examQPage-progress p {
  position: absolute;
  /* top: -20px; */
  top: 5px;
  right: 10px;
  font-size: 12px;
  color: #666;
}

.examQPage-question {

  width: 100%;
  height: 100%;
  /* background-color: #f5f5f5; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.examQPage-question-container {
  background-color: #fff;
  width: 80%;
  /* height: 0%; */
  min-height: 80%;
  height: fit-content;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  position: relative;

}

.examQPage-question-container h3 {
  font-size: 1.72em;
  font-weight: bold;
  margin-bottom: 20px;
}

.examQPage-question ul {
  list-style: none;
  background-color: #fff;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.examQPage-question ul li {
  margin-bottom: 10px;
  width: 100%;
  cursor: pointer;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px #ccc;
  transition: all 0.3s ease-in-out;
}

.examQPage-question ul li:hover {
  background-color: #007bff;
  color: #fff;
}

.examQPage-question ul li.selected {
  background-color: #007bff;
  color: #fff;
}

.examQPage-question ul li.right {
  background-color: #d4edda !important;
  color: #155724 !important;
}

.examQPage-question ul li.incorrect {
  background-color: #f8d7da !important;
  color: #721c24 !important;
}

.examQPage-question ul li.init {
  background-color: #fff !important;
  color: #000 !important;
}




.examQPage-answer-container {
  margin-top: 20px;
}

.examQPage-answer-container p {
  margin-bottom: 5px;
}

.examQPage-option-container {
  position: absolute;
  /* background-color: #007bff; */
  display: flex;
  justify-content: space-between;
  align-items: center;

  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 25px;

}

.examQPage-option-container button {
  padding: 10px 20px;
  border-radius: 5px;
  /* width: 120px; */
  min-width: 120px;
  width: auto;
  height: 50px;
  font-weight: bold;
  border: none;
  font-size: 1em;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.examQPage-loading {
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
}



.ai-explain{
  background-color: #e6e5e5;
  padding: 15px;
  max-height: 20vh;
  font-size: 0.85em;
  width: 100%;
  min-height: 20px;
  overflow-y: auto;
  margin-bottom: 50px;

    scrollbar-color: #ccc transparent;
  scrollbar-width: thin;
  /* box-shadow: 20px 20px 30px #ccc; */
}

.ai-explain table{
  width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0;
  border-radius: 6px;
  overflow: hidden;
  table-layout: auto;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); */
  border: #000 1px solid;
}

.ai-explain th {
  background-color: #333;
  color: #fff;
  min-width: 120px;
  font-weight: 600;
  padding: 5px;
  text-align: left;
  white-space: nowrap;
  border-bottom: 2px solid #c6c6c6;
}

.ai-explain td {
  padding: 5px;
  min-width: 120px;
  border-bottom: 1px solid #c6c6c6;
}

.ai-explain pre {
  background-color: #2d2d2d;
  color: #f8f8f2;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

