.search {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;

  /* border: 1px solid #ccc; */
  cursor: pointer;
}

.search button {
  margin-bottom: 1px;
}

.search input {
  /* position: relative; */
  text-indent: 20px;
  width: 160px;

  transition: all 0.5s ease-in-out;
}

.searchInput img {
  position: absolute;
  top: 2px;
  height: 18px;
  left: 5px;
  /* right: -6px; */
  transform: translateX(-3px);

  transition: all 0.5s ease-in-out;
}

.searchInput input:focus ~ img {
  /* left: auto;
  right: -6px; */
  transform: translateX(132px);
  /* right: 10px; */
}
.search input:focus {
  text-indent: 5px;
}

.searchInput {
  /* position: absolute; */
  position: relative;
  /* border: 1px solid #ccc; */
  /* border-radius: 15px; */
  /* background-color: aqua; */
  /* padding-right: 10px; */
  /* margin: 10px; */
  margin-left: 5px;
  margin: 5px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}

/* .searchInput input {
  transform: translateX(-10px);
} */

/* .searchInput img {
  left: 8px;
  right: 20px;
  top: 2px;

  transition: all 0.5s ease-in-out;
} */
/*  */
