.commission-radio {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 20px;
  padding: 15px;
}

.commission-radio img {
  margin-left: 20px;
  width: 15px;
  height: 15px;
  position: relative;
}

.commission-radio-box {
  margin-left: 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.commission-radio-item {
  padding: 15px;
  max-height: 30px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.commission-radio-item.checked {
  background-color: #3673FE;
  color: #fff;
  border: none;
}
