.commission-type-area {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding: 15px;
}

.commission-type-area-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.commission-type-area-as div {
  margin-left: 10px;
  border: 1px solid #ccc;
  height: 25px;
  padding: 1px;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
}

.commission-type-area-as div img {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 3px;
  position: relative;
}

.commission-type-area-as div input {
  width: 80px;
  height: 100%;
  border: none;
  outline: none;
  /* background-color: aqua; */
}



.commission-type-area-item img {
  margin-left: 20px;
  width: 15px;
  height: 15px;
  position: relative;
}
