.commission-requirement-image-checkbox {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 20px;
  padding: 15px;
}

.commission-requirement-image-checkbox img {
  margin-left: 20px;
  width: 15px;
  height: 15px;
  position: relative;
}

.commission-Imageradio-item {
  margin-left: 10px;
  /* margin-right: 20px; */
  border: 1px solid #ccc;
  /* padding: 20px; */
  display: flex;
  height: 120px;
  width: 95px;
  /* background-color: aqua; */
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

.commission-Imageradio-item.checked {
  border: 1px solid #3673fe;
}



.commission-Imageradio-item img {
  width: 60px;
  height: 60px;
  /* object-fit: cover; */
  /* background-color: aqua; */
  margin: 0;
}

.commission-Imageradio-item p {
  font-size: 13px;
  font-weight: bold;
  margin-top: 5px;
  color: #666;
}
