.commission-remarks {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding-left: 20px;
  padding: 15px;
}

.commission-remarks h4 {
  justify-content: left;
  margin-bottom: 10px;
  width: 100%;
  font-size: 1.3em;
  /* text-decoration: underline; */
  /* background-color: antiquewhite; */
}



.commission-remarks textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  padding: 10px;
  resize: none;
}
