.commission-single-radio {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 20px;
  padding: 15px;
}

.commission-single-radio-item {
  display: flex;
  align-items: center;
}

.commission-single-radio-item img {
  margin-left: 20px;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  position: relative;
}

.commission-single-radio-item form {
  display: flex;
  align-items: center;

}

.commission-single-radio-item form input {
  margin-right: 5px;

}

.commission-single-radio-item form label {
  margin-right: 10px;
}
