.commission-checkbox {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 20px;
  padding: 15px;
  /* background-color: aqua; */
}

.commission-checkbox img {
  margin-left: 20px;
  width: 15px;
  height: 15px;
  position: relative;
}

.commission-checkbox img::before {
  position: absolute;
  content: "A dialog";
  font-size: 1em;
  width: auto;
  height: 10px;
  top: 0;
  background-color: #3673FE;
  transition: all 0.3s ease-in-out;
}




.commission-checkbox-box {
  margin-left: 16px;
  display: flex;
  flex-direction: row;

}

.commission-checkbox-item {
  padding: 15px;
  max-height: 30px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.commission-checkbox-item.checked {
  background-color: #3673FE;
  color: #fff;
  border: none;
}

.checked {
  background-color: #3672fe54;
}
