.blogDetail {
  /* display: flex; */
  position: relative;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* position: fixed; */
  overflow-y: auto;
  width: 100%;
  height: calc(100%+300px);
  z-index: 1000;
  /* margin-top: 55px; */
  /* top: 55px; */
  left: 0;
  background-color: #f5f5f5;
  /* background-color: #fff; */
}

/* 内侧容器 */
.blog-padding-container {
  width: inherit;
  height: inherit;

  display: flex;
  justify-content: center;
  padding: 5px;
}

.blogDetail-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width: 70vw;
  align-items: center;
  border-radius: 10px;
  padding-bottom: 20px;
  margin-bottom: 80px;
}

.blogDetail_title {
  font-weight: bold;
  margin-top: 50px;
}

.blogDetail_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 40vw;
  height: 30px;
  margin-top: 20px;
  /* border: 1px solid #000; */
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}

.blogDetail_info ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  align-items: center;

  flex-grow: 1;
  justify-content: space-between;
}

.blogDetail_info ul li {
  display: flex;
  font-weight: bold;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
  font-size: 13px;
  color: #666;
  cursor: pointer;
  transition: all 0.3s;
}

.blogDetail_info ul li:hover {
  /* font-size: 16px; */
  color: #ed8d0f;
}

.blogDetail_info img {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.blogDetail_content {
  width: 100%;
  height: auto;
  /* min-height: 2300px; */
  /* background-color: aqua; */
}

.blogDetail_tags {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  /* flex-wrap: nowrap; */
  padding: 10px;
  width: 100%;
  height: fit-content;
  border-bottom: 2px solid #ccc;
  /* min-height: 80px; */
  /* border-bottom: 1px solid #ccc; */
  /* background-color: #ed8d0f; */
}

.placeholder {
  height: 200px;
  width: 100%;
  /* background-color: #ed8d0f; */
}

.blogDetail_body {
  width: 100%;
  height: 150%;
  background-color: #ccc;
}

.blogDetail_comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: aqua; */
  width: 100%;
  font-size: 18px;
  padding: 15px;
}

.blogDetail_comments span {
  display: flex;
  flex-direction: column;
}

.blogDetail_comments h4 {
  text-decoration: underline;
}

.commit_continer {
  width: inherit;
  min-height: 300px;
  margin-top: 20px;
  border: 1px solid #ccc;
}

.blogDetail-footer-f {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  padding: 5px;
}

.blogDetail-footer-f img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin: 5px;
}

.blogDetail-tags-contrainer {
  display: flex;
  flex-direction: row;
}

/* 后渲染问题再md组件 */

.test {
  background-color: black;
  width: 100%;
  height: 400px;
}

.shareIcon {
  position: relative;
  cursor: pointer;
}

.shareIcon::after {
  content: 'Copy Success';
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  width: 40px;
  top: 20px;
  left: 0;
  opacity: 0;
}

.shared::after {
  animation: bubbleDialog 1s ease-in-out forwards;
  /* transform: translateY(-100px); */
  /* top: 20px; */
}

/* 目录导航 */
.blogDetail-title-guidepost {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 70px;
  /* right: 20px; */
  min-width: 180px;
  max-width: 220px;
  left: 10px;
  height: fit-content;
  background-color: #fff;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 10px;
  padding: 10px;
  z-index: 1000;

  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.blogDetail-title-guidepost ul {
  list-style: none;
  /* padding: 10px; */
  margin: 3px 0 3px 3px;
  font-size: 10px;
}

.blogDetail-title-guidepost li a {
  color: #666;
}

.blogDetail-title-guidepost li a:hover {
  color: #ed8d0f;
}

.blogDetail-title-guidepost a {
  color: #333;

  font-weight: bold;
  text-align: center;
}

@media(min-width: 1300px) {
  .blogDetail-title-guidepost {
    visibility: visible;
  }
}
