.blogMarkdown {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: fit-content;
  padding: 30px 50px 50px 30px;
  margin: 20px 10px 10px 30px;
  margin-bottom: 20px;
  /* border: 1px solid #615e67; */
  line-height: 2.2;
  /* padding: 10px; */
  /* overflow-y: auto; */
  /* background-color: aquamarine; */
}

.blogMarkdown hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.blogMarkdown_content {
  width: 100%;
  height: fit-content;
  /* background-color: aqua; */
}
.blogMarkdown h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.blogMarkdown h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.blogMarkdown p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/*  */

.blogMarkdown ul {
  margin-left: 60px;
}

.blogMarkdown blockquote p {
  background-color: transparent;
  color: #615e67;
}

.blogMarkdown hr {
  background-color: #323234;
  /* color: #fff; */
}

.blogMarkdown .code-block {
  padding: 1rem;
  margin: 1rem 0;
}

.blogMarkdown table {
  /* width: 100%; */
  border-collapse: collapse; /* 合并边框 */
  margin: 1.5rem 0;
  border-radius: 6px;
  overflow: hidden; /* 配合圆角 */
  table-layout: auto;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.blogMarkdown th {
  background-color: #333;
  color: #fff;
  min-width: 120px;
  font-weight: 600;
  padding: 5px;
  text-align: left;
  white-space: nowrap;
  border-bottom: 2px solid #c6c6c6;
}

.blogMarkdown td {
  padding: 5px;
  min-width: 120px;
  border-bottom: 1px solid #c6c6c6;
  vertical-align: top;
  color: #475569;
}

hr {
  height: 2px;
  border: none;
  background-color: #323234;
}

ol {
  margin-left: 60px;
}

.blogMarkdown em {
  /* background-color: #c6c6c6; */
  position: relative;
}

.blogMarkdown em strong {
  background-color: none;
}

.blogMarkdown em:not(:has(*))::after {
  content: '';
  position: absolute;
  width: 105%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: #000;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.blogMarkdown em:not(:has(*)):hover::after {
  width: 0;
}
/* 
.blogMarkdown em::after {
  content: '';
  position: absolute;
  width: 105%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: #000;
  cursor: pointer;

  transition: all 0.5s ease-in-out;
} */

.blogMarkdown em:hover::after {
  width: 0;
}

.blogMarkdown_content iframe {
  width: 80%;
  height: 300px;
}
