.blogFilterBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 15px;
}

.blogFilterBar img {
  margin-right: 8px;
  width: 20px;
}

.searchBar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  /* background-color: aqua; */
}

.dateFilter {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: fit-content;
  /* background-color: aqua; */
}

.dateFilter_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  background-color: #fff;
}

.dateFilter_calendar {
  width: 100%;
  height: 74%;
  /* background-color: #000; */
}

.tagFilter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 250px;
  /* background-color: aqua; */
}

.tagFilter_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  background-color: #fff;
}

.tagFilter_title img {
  margin-right: 8px;
  width: 20px;
}

.tagFilter_content img {
  margin-right: 3px;
}
/* 标签存放 */

.tagFilter_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 10px;
  width: 100%;
  height: fit-content;
  padding: 5px;

  /* 背景图代替 */
  /* 左上 */
  background-image:
    linear-gradient(to right, #333, #333), linear-gradient(to bottom, #333, #333),
    linear-gradient(to left, #333, #333), linear-gradient(to top, #333, #333);

  background-size:
    25% 2px,
    /* 1. 左上右线：长度25%，厚度2px */ 2px 50%,
    25% 2px,
    /* 7. 右下左线：长度25%，厚度2px */ 2px 50%; /* 8. 右下上线 */
  background-repeat: no-repeat;
  background-position:
    top left,
    /* 1. 左上右线：顶部左侧 */ top left,
    bottom right,
    /* 7. 右下左线：底部右侧 */ bottom right; /* 8. 右下上线：底部右侧 */
}

.tagFilter_content_item {
  width: fit-content;
  /* border: 1px solid #333; */
  height: 30px;
}

.search-result {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  align-items: flex-start;
  /* background-color: antiquewhite; */
  font-size: 12px;
}

.search-result p {
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
}

.search-result span {
  margin-left: 20px;
}
