.blogDetail {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* position: fixed; */
  overflow-y: auto;
  width: 100%;
  height: calc(100%+300px);
  z-index: 1000;
  /* margin-top: 55px; */
  /* top: 55px; */
  left: 0;
  /* background-color: red; */
  /* background-color: #fff; */
}

.blogDetail_title {
  font-weight: bold;
  margin-top: 50px;
}

.blogDetail_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-top: 20px;
  /* border: 1px solid #000; */
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}

.blogDetail_info ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  align-items: center;

  flex-grow: 1;
  justify-content: space-between;
}

.blogDetail_info ul li {
  display: flex;
  font-weight: bold;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
  font-size: 13px;
  color: #666;
  cursor: pointer;
  transition: all 0.3s;
}

.blogDetail_info ul li:hover {
  /* font-size: 16px; */
  color: #ed8d0f;
}

.blogDetail_info img {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.blogDetail_content {
  width: 100%;
  height: auto;
  /* min-height: 2300px; */
  /* background-color: aqua; */
}

.blogDetail_tags {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: flex-start;
  /* flex-wrap: nowrap; */
  padding: 10px;
  width: 100%;
  height: fit-content;
  border-bottom: 2px solid #ccc;
  /* min-height: 80px; */
  /* border-bottom: 1px solid #ccc; */
  /* background-color: #ed8d0f; */
}

.placeholder {
  height: 660px;
  width: 100%;
  background-color: #ed8d0f;
}

.blogDetail_body {
  width: 100%;
  height: 150%;
  background-color: #ccc;
}

.blogDetail_comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 18px;
  padding: 15px;
}

.commit_continer {
  width: 100%;
  min-height: 300px;
  border: 1px solid #ccc;
}

/* 后渲染问题再md组件 */

.test {
  background-color: black;
  width: 100%;
  height: 400px;
}
