.blogDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  z-index: 1000;
  /* margin-top: 55px; */
  top: 55px;
  left: 0;
  /* background-color: #f5f5f5; */
  background-color: #fff;
}

.blogDetail_title {
  font-weight: bold;
  margin-top: 50px;
}

.blogDetail_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-top: 20px;
  /* border: 1px solid #000; */
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}

.blogDetail_info ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  align-items: center;

  flex-grow: 1;
  justify-content: space-between;
}

.blogDetail_info ul li {
  display: flex;
  font-weight: bold;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
  font-size: 13px;
  color: #666;
  cursor: pointer;
  transition: all 0.3s;
}

.blogDetail_info ul li:hover {
  /* font-size: 16px; */
  color: #ed8d0f;
}

.blogDetail_info img {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.blogDetail_content {
  width: 100%;
  height: fit-content;
  /* background-color: aqua; */
}
