.blogMarkdown {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: fit-content;
  padding: 30px 50px 50px 30px;
  margin: 5px 10px 10px 30px;
  border: 1px solid #615e67;
  line-height: 2;
  /* padding: 10px; */
}

.blogMarkdown h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.blogMarkdown h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.blogMarkdown h3 {
}

.blogMarkdown code {
  /* display: flex; */
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #615e67;
  height: calc(fit-content+20px);
  /* background-color: rgb(235, 235, 235, 0.2); */
}

.blogMarkdown p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.blogMarkdown p code {
  ackground-color: #615e67;
}

.blogMarkdown ul {
  margin-left: 60px;
}

.blogMarkdown li::marker {
}

.blogMarkdown blockquote {
  border-left: 4px solid #615e67;
  margin-left: 20px;
  padding-left: 10px;
  color: #666;
  font-style: italic;
}

.blogMarkdown table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.blogMarkdown p {
  background-color: #323234;
  color: #fff;
  padding: 15px;
  font-size: 15px;
  line-height: 0.3;
  /* color: red; */
}
