.blogOne {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #fff;
  /* border: 1px solid #ccc; */
  left: 0;
  top: 0;
  box-shadow: 0 0 5px #ccc;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  /* 重写侧边栏 */
  scrollbar-width: thin;
}

.blogOne:hover {
  box-shadow: 0 0 10px #666;
  top: -6px;
  left: 8px;
}

.blogOne:hover .blogOne_header img {
  /* scale: 0.9; */
  transform: scale(1.15);
  /* object-fit: contain; */
}

.blogOne_header {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  width: 170px;
  min-width: 160px;
  height: 100%;
  /* background-size: cover; */
  /* border: 1px solid #ccc; */
  /* background-color: red ; */
}

.blogOne_header img {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  /* min-width: 150px; */
  object-fit: cover;
  /* border-radius: 15px; */
  /* background-size: cover; */
  /* border: 1px solid #ccc; */
  /* box-shadow: 0 0 5px #ccc; */

  background-color: #999;
  content: "Loading";
  font-size: 1.72em;
  text-align: center;
  /* background-image: url(@/../../../assets/media/squareload.gif);
  background-position: center;
  background-repeat: no-repeat; */

  z-index: 20;
  transition: all 0.7s ease-in-out;
}

.blogOne_header::after {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 8%, rgba(255, 255, 255, 0) 100%);
  background-size: 100% 100%;
  /* background-color: aqua; */
  z-index: 50;
  transition: all 0.5s ease-in-out;
}

/* 内容区 */
.blogOne_content {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  margin-right: 10px;
  padding-left: 15px;
  flex-grow: 1;
  height: 100%;
  transition: all 0.5s ease-in-out;
  /* border: 2px solid #ccc; */
}

.blogOne_content_title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  margin-top: 10px;
}

.blogOne_content_abstract {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  height: 70px;
  /* border: #333 1px solid; */
  overflow: hidden;
  text-overflow: ellipsis;
  /* display: -webkit-box; */
  /* -webkit-line-clamp: 3; */
  /* -webkit-box-orient: vertical; */
  transition: all 0.5s ease-in-out;
  padding-bottom: 5px;
}

.blogOne_content_time {
  display: flex;
  align-content: center;
  font-size: 12px;
  color: #999;
}

.blogOne_content_time img {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.blogOne_content_tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /* flex-grow: 1; */
  width: 100%;
  /* margin-top: 5px; */
  /* border: 1px solid #ccc; */
  font-size: 12px;
  /* color: #999; */
  margin-bottom: 3px;
}
