.blogPage {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /*  */
  align-items: flex-start;
  height: 100vh;
  /* min-height: 100%; */
  width: 100%;
  /* background-color: #000; */
  background-color: #f5f5f5;
  padding: 10px;
  overflow-y: hidden;
  /* z-index: 1000; */
  scrollbar-width: thin;

  /* transition: all 0.4s ease-in-out; */
}

.blogBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;

  height: 100%;
  width: calc(100% - 260px);
  /* background-color: #fff; */

  /* 载入变动 */
  margin-top: 100px;
  transition: all 0.3s ease-in-out;

  visibility: hidden;
}

.BlogOfOne {
  position: relative;
  display: flex;
  height: 160px;
  min-height: 160px;
  width: 100%;

  /* 载入变动 */
  margin-bottom: 90px;
  /* margin-bottom: 10px; */
  transition: all 0.9s ease-in-out;
}

/* 博客筛选栏 */

.blogFilter {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 93%;
  width: 250px;
  /* margin-left: 10px; */
  right: 15px;

  /* background-color: #fff; */
  /* background-color: antiquewhite; */
}

.blogContainer {
  /* top: 0px;
  left: 0;
  right: 0;
  z-index: 2000;
  overflow-y: auto;
  height: 100vh;
  position: absolute; */
  z-index: 50;
  position: relative;
}

.blog-holder {
  position: relative;
  display: flex;
  /* height: 120px; */
  min-height: 60px;
  width: 100%;
  /* background-color: aqua; */
  /* margin-bottom: 10px; */
}

.blog-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  transition: all 0.3s ease-in-out;
}

.blog-loading img {
  width: 150px;
  height: 150px;
}
