.blogPage {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /*  */
  align-items: flex-start;
  height: 100vh;
  /* min-height: 100%; */
  width: 100%;
  /* background-color: #000; */
  background-color: #f5f5f5;
  padding: 10px;
  overflow-y: auto;
  /* z-index: 1000; */
  scrollbar-width: thin;
}

.blogBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;

  height: 100%;
  width: calc(100% - 260px);
  /* background-color: #fff; */
}

.BlogOfOne {
  position: relative;
  display: flex;
  height: 160px;
  min-height: 160px;
  width: 100%;

  margin-bottom: 10px;
}

/* 博客筛选栏 */

.blogFilter {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 93%;
  width: 250px;
  /* margin-left: 10px; */
  right: 15px;

  /* background-color: #fff; */
  /* background-color: antiquewhite; */
}

.blogContainer {
  /* top: 0px;
  left: 0;
  right: 0;
  z-index: 2000;
  overflow-y: auto;
  height: 100vh;
  position: absolute; */
  z-index: 50;
  position: relative;
}

.blog-holder {
  position: relative;
  display: flex;
  /* height: 120px; */
  min-height: 60px;
  width: 100%;
  /* background-color: aqua; */
  /* margin-bottom: 10px; */
}
