/* 自定义渲染器使用 */

.markdown-image-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.markdown-image-container img {
  width: 60%;
  border-radius: 5px;
}

.markdown-image-container span {
  position: relative;
  font-size: 1em;
  color: #666;
  /* text-decoration-color: #333;
  text-decoration: underline; */

  /* color: #fff; */
}

.markdown-image-container span::after {
  content: '';
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #666;
  height: 2px;
  width: 100%;
}

.table-header-cell {
  padding: 0;
}

.table-data-cell {
  font-size: 15px;
}

/* 代码块 */

.inline-code {
  padding: 5px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #f9f2f4;
  color: #c7254e;
}

.table-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: #262c36; */
  width: 100%;
  /* overflow-x: auto; */
}
.table-container table {
  /* width: 100%; */
  /* background-color: #262c36; */
}

pre {
  position: relative;
  background-color: #262c36;
  padding: 20px;
  padding-top: 30px;
  line-height: 22px;
  color: #d1d7e0;
  z-index: 10;
}

pre span {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

pre::before {
  position: absolute;
  content: 'bash';
  top: 0;
  left: 0;
  padding: 2px;
  background-color: #d96760;
  width: 100%;
}

pre::after {
  position: absolute;
  content: '';
  z-index: 20;
  top: 0;
  left: 0;
  background-color: transparent;
  height: 0px;
  width: 100%;
  content: '';
  background-image: none;
  /* background-position: %; */
  /* background-position: 10px 10px; */
  background-repeat: no-repeat;

  background-position: 99%;
  padding: 2px;
  transition: all 0.3s ease-in-out;
}

pre:hover::after {
  background-color: #d96760;
  background-image: url(../assets/svg/copy.svg);
  background-size: 20px 20px;
  height: 24px;
  content: 'Copy';
}

/* 代码样式 */

.hljs-keyword {
  color: #d96760;
}

.hljs-title.function_ {
  color: #ff9b79;
}

.hljs-number {
  color: #93cbf9;
}

.hljs-built_in {
  color: #61a2e1;
}

.hljs-meta {
  color: #9198a1;
}

.hljs-string {
  color: #e4990d;
}

.hljs-tag {
  color: #407ccb;
}

.hljs-attr {
  color: #a3c4ef;
}

.hljs-property {
  color: #549af6;
}

.hljs-params {
  color: #97bef0;
}

.hljs-comment {
  color: #9198a1;
}

.language-xml .hljs-string {
  color: #d17736;
}

.language-xml .hljs-comment {
  color: #9198a1;
}

.hljs-template-variable .hljs-name {
  color: #d96760;
}

/* 狗屎轮子 */

pre:has(code[class*='language-'])::before {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 20px;
  line-height: 30px;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  box-shadow: 0px 0px 10px #292929;
  text-transform: uppercase;
}

pre:has(code.language-html)::before {
  content: 'HTML';
  background-color: #e34c26; /* HTML主题色 */
}
pre:has(code.language-css)::before {
  content: 'CSS';
  background-color: #264de4; /* CSS主题色 */
}
pre:has(code.language-javascript)::before {
  content: 'JS';
  background-color: #f7df1e; /* JS主题色 */
}

pre:has(code.language-bash)::before {
  content: 'Bash';
  background-color: #4eaa25; /* Bash主题色 */
}
pre:has(code.language-json)::before {
  content: 'JSON';
  background-color: #f7df1e; /* JSON主题色 */
}

pre:has(code.language-plaintext)::before {
  content: 'Plain Text';
  background-color: #999999; /* Plain Text主题色 */
}

pre:has(code.language-toml)::before {
  content: 'TOML';
  background-color: #cb171e; /* TOML主题色 */
  color: #fff;
}

pre:has(code.language-xml)::before {
  content: 'XML';
  background-color: #2b7489; /* XML主题色 */
}

pre:has(code.language-ruby)::before {
  content: 'Ruby';
  background-color: #701516; /* Ruby主题色 */
}

pre:has(code.language-go)::before {
  content: 'Go';
  background-color: #00add8; /* Go主题色 */
}

pre:has(code.language-python)::before {
  content: 'Python';
  background-color: #3572a5; /* Python主题色 */
}

pre:has(code.language-markdown)::before {
  content: 'Markdown';
  color: #fff;
  background-color: #000000; /* Markdown主题色 */
}

pre:has(code.language-shell)::before {
  content: 'Shell';
  background-color: #4eaa25; /* Shell主题色 */
}

pre:has(code.language-yaml)::before {
  content: 'YAML';
  background-color: #cb171e; /* YAML主题色 */
}

pre:has(code.language-ini)::before {
  content: 'INI';
  background-color: #cb171e; /* INI主题色 */
}

pre:has(code.language-sql)::before {
  content: 'SQL';
  background-color: #e38c00; /* SQL主题色 */
}

pre:has(code.language-cpp)::before {
  content: 'C++';
  background-color: #00599c; /* C++主题色 */
}

pre:has(code.language-c)::before {
  content: 'C';
  background-color: #00599c; /* C主题色 */
}

pre:has(code.language-rust)::before {
  content: 'Rust';
  background-color: #dea584; /* Rust主题色 */
}

pre:has(code.language-csharp)::before {
  content: 'C#';
  background-color: #239120; /* C#主题色 */
}

pre:has(code.language-php)::before {
  content: 'PHP';
  background-color: #777bb4; /* PHP主题色 */
}

pre:has(code.language-typescript)::before {
  content: 'TypeScript';
  background-color: #2b7489; /* TypeScript主题色 */
}

pre:has(code.language-java)::before {
  content: 'Java';
  background-color: #b07219; /* Java主题色 */
}

pre:has(code.language-swift)::before {
  content: 'Swift';
  background-color: #f05138; /* Swift主题色 */
}

pre:has(code.language-kotlin)::before {
  content: 'Kotlin';
  background-color: #0095d5; /* Kotlin主题色 */
}
pre:has(code.language-dart)::before {
  content: 'Dart';
  background-color: #00b4ab; /* Dart主题色 */
}

pre:has(code.language-r)::before {
  content: 'R';
  background-color: #239120; /* R主题色 */
}

pre:has(code.language-vue)::before {
  content: 'Vue';
  background-color: #42b883; /* Vue主题色 */
}

/* 代码块结束 */
