.pacman-loading {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;

}

/* 当pacman-loading退出时动画 */
.pacman-loading-exit {
  position: absolute;
  animation: pacman-loading-exit 0.5s linear forwards;
}

@keyframes pacman-loading-exit {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(-800px);
    opacity: 0;
  }
}

.pacman {
  background-color: #FFD700;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: relative;
  /* border: #000 solid 4px; */
  margin-left: 10%;

  z-index: 10;
}

.pacman-eye {
  position: absolute;
  top: 30px;
  right: 50px;
  background-color: #000;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.pacman-mouth {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;

  top: 10px;

  clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  z-index: 0;

  animation: pacman-mouth 0.5s linear infinite;
}

/* 豆子 */

.pacman-bean {
  list-style: none;
  position: relative;
  margin-left: 100px;
  /* background-color: red; */


}



.pacman-bean li {
  /* position: absolute; */
  width: 30px;
  height: 30px;
  background-color: aqua;
  border-radius: 50%;
  display: inline-block;
  margin: 0 20px;

  animation: pacman-bean-move 4s linear infinite;
  z-index: 3;
}



/*  pacman 嘴巴动画 */

@keyframes pacman-mouth {
  0% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }

  25% {
    clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
  }

  50% {
    clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
  }

  75% {
    clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
  }

  100% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
}


/*  pacman 豆子动画 */
.pacman-bean li:nth-child(2) {
  animation-delay: 0.5s;
}

.pacman-bean li:nth-child(3) {
  animation-delay: 1s;
}

.pacman-bean li:nth-child(4) {
  animation-delay: 1.5s;
}

.pacman-bean li:nth-child(5) {
  animation-delay: 2s;
}

.pacman-bean li:nth-child(6) {
  animation-delay: 2.5s;
}

/* 豆子动画 */
@keyframes pacman-bean-move {
  0% {
    transform: translateX(0);
    /* 初始位置（最右侧） */
    opacity: 1;
  }

  70% {
    transform: translateX(-200px);
    /* 移动到Pacman附近（距离约50px） */
    opacity: 1;
    /* 未被吃掉，仍显示 */
  }

  100% {
    transform: translateX(-250px);
    /* 移动到Pacman位置（被吃掉） */
    opacity: 0;
    /* 消失 */
  }
}
