.divider {
  width: 2px;
  height: 40px;
  background-color: #000;
}

.divider_x {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 80%;
  height: 2px;
  min-height: 2px;
  background-color: #000;
}

.Pbar {
  position: relative;
  width: 2px;
  height: 30px;
  background-color: #ed8d0f;
}

.Pbar::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 2px;
  top: 0;
  background-color: #ccc;
}

/* all */
button {
  position: relative;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 2;
}

button::before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;

  background-color: #ed8d0f;
  transition: all 0.5s;
}

button:hover::before {
  width: 100%;
}

input {
  outline: none;
  height: 23px;

  /* border: none; */
}

a {
  color: #ed8d0f;
  text-decoration: none;
}

a:active {
  color: #ed8d0f;
}

hr {
  height: 2px;
  margin-top: 2px;
  margin-bottom: 3px;
}

/* 侧边栏 */

html {
  scrollbar-color: #ed8d0f transparent;

  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.placeholder-bottom {
  height: 100px;
}
